* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease-out;
}


/* NavBar */


.navBar {
    height: 60px;
    background-color: #9381ff;
    width: 100vw;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: nowrap
}

.left {
    flex: 1;
    display: flex;
}


.title {
    flex: 1;
    font-weight: bold;
    text-align: center;
    color: white;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}


li {
    list-style: none;
}


a {
    text-decoration: none;
}

.icons {
    color: #9381ff;
    cursor: pointer;
    margin: 0 12px;
}


.btnCategories {
    background-color: white;
    padding: 18px 20px;
    border-bottom: 1px solid #ffff;
    color: #9381ff;
    display: flex;
}

.btnCategories:hover {
    background-color: #9381ff;
    color: white;
    transition: all 0.3s;
}

.btn {
    border: none;
}



.fas:hover{
    color: white;
}


.dropdown-menu {
    display: flex;
    flex-direction: column;
    display: none;
}


.btnSections {
    background-color: white;
    padding: 10px 2px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}


/* Home */

.cardHome{
    margin: 10px auto;
    margin-top: 5em;
    padding: 20px;
    border: none;
    background: #9381ff;
    border-radius: 20px;
}

.btnVerProducto {
    border: none;
    background-color: #b8b8ff;
    padding: 10px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.btnVerProducto:hover {
    background-color: white;
    color: #9381ff;
    transition: all 0.3s;
}
.Row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

/* detalle producto */

.card-body {
    font-size: 15px;
    text-align: center;
    color: #ffff;
}

.card{
    height: 100vh;
    width: 100vw;
    margin-bottom: -3rem;
}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5em;
    padding: 20px;
    border: none;
    background: #9381ff;
    border-radius: 20px;
}

.cardName {
    text-align: start;
    font-weight: lighter;
    color: black;
}

img {
    border-radius: 10px;
}

.imgCardDetail{
    width: 300px;
    height: 300px;
    
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
}



.counterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.counter{
    margin: 20px;
}



/* carrito */

.btnCarritoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -48px;
}

.btnVaciarCarrito {
    background-color: #9381ff;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px 12px;
    border-radius: 0 0 0 10px;
    font-weight: 600;
    color: white;
    border: none;
}

.btnVaciarCarrito:hover {
    background-color: white;
    color: #9381ff;
    transition: all 0.3s;
}

.calcularTotal {
    background-color: #9381ff;
    position: absolute;
    top: 60px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 10px 0px;
}

h5 {
    font-weight: 600;
    color: white;
    margin-top: 14px;
    margin-left: 20px;
}

.cartVacio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100vh;
}

.cart{
    margin-bottom: 110px;
}

.terminarCompra{
    background-color: #9381ff;
    position: absolute;
    top: 60px;
    right: 140px;
    padding: 20px 12px;
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    color: white;
    border: none;
}

.terminarCompra:hover{
    background-color: white;
    color: #9381ff;
    transition: all 0.3s;
}

.terminarCompraDark{
    background-color: black;
    position: absolute;
    top: 60px;
    right: 140px;
    padding: 20px 12px;
    border-radius: 0 0 10px 10px;
    font-weight: 600;
    color: white;
    border: none;
}

.btnVaciarCarritoDark:hover{
    background-color: white;
    color: black;
    transition: all 0.3s;
}

.terminarCompraDark:hover{
    background-color: white;
    color: black;
    transition: all 0.3s;
}

/* Form */

.containerForm{
    margin-top: 4em;
    margin-bottom: 5em;
    height: 100%;
    background-color: #9381ff;
    padding: 20px;
    font-weight: bold;
    color: white;
    width: 600px;
    border-radius: 20px;
    border: none;
}

.text-area{
    border: none;
    outline: none;
}

.contactContainer{
    height: 100%;
}

/* Footer */

footer {
    margin-top: 3em;
    width: 100vw;
    box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    background-color: #9381ff;
}

/* Succes */

.success{
    font-weight: bold;
    margin-top: 2em;
    background-color: rgb(143, 229, 143);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.spanSuccess{
    text-align: center;
    font-weight: bold;
}

.successContainer{
    height: 100vh;
}


.successContainerDark{
    height: 100vh;
    background-color: grey;
    margin-bottom: -3em;
}

.successDark{
    font-weight: bold;
    background-color: rgb(143, 229, 143);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

/* DarkMode */

.darkMode {
    background-color: grey;
    color: #ffff;
    transition: all 0.2s ease-in;
    margin-bottom: -3rem;
}

.navDark{
    height: 60px;
    background-color: gray;
    width: 100vw;
    transition: all 0.2s ease-in;
}


.iconsDark{
    color: #ffff;
    cursor: pointer;
    margin: 0 12px;
    transition: all 0.2s ease-in;
}

.btnSectionsDark{
    background-color: black;
    padding: 10px 2px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-left: 10px;
    transition: all 0.2s ease-in;
}

.rightDark{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    transition: all 0.2s ease-in;
}

.btnCategoriesDark{
    background-color: black;
    padding: 18px 20px;
    border-bottom: 1px solid #ffff;
    color: white;
    display: flex;
}

.btnCategoriesDark:hover{
    background-color: black;
    
}

.cardContainerDark{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5em;
    padding: 20px;
    border: none;
    background: black;
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

.cardNameDark{
    text-align: start;
    font-weight: lighter;
    color: white;
    transition: all 0.2s ease-in;
}

.btnVerProductoDark{
    border: none;
    background-color: gray;
    padding: 10px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease-in;
}

.btnVerProductoDark:hover{
    background-color: white;
    color: black;
    transition: all 0.2s ease-in;
}

.cardDark{
    background-color:gray;
    height: 100vh;
    width: 100vw;
    margin-bottom: -3rem;
    border: none;
    border-radius: 0px;
    transition: all .2s ease-in;
}

.footerDark{
    margin-top: 3em;
    width: 100vw;
    box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    background-color: gray;
}

.cardDarkHome{
    margin: 10px auto;
    margin-top: 5em;
    padding: 20px;
    border: none;
    background: black;
    border-radius: 20px;
}

.cardCartDark{
    margin: 10px auto;
    margin-top: 5em;
    padding: 20px;
    border: none;
    background: black;
    border-radius: 20px;
    height: 500px;
}

.cartDark{
    height: 100vh;
}

.btnVaciarCarritoDark {
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px 12px;
    border-radius: 0 0 0 10px;
    font-weight: 600;
    color: white;
    border: none;
}

.calcularTotalDark{
    background-color: black;
    position: absolute;
    top: 60px;
    width: 200px;
    height: 50px;
    border-radius: 0px 0px 10px 0px;
}

.contactContainerDark{
    background-color: grey;
    color: #ffff;
    transition: all 0.2s ease-in;
    margin-top: -4em;
    margin-bottom: 10.4rem;
}

.containerFormDark{
    margin-top: 4em;
    margin-bottom: -10.4em;
    height: 100vh;
    background-color: black;
    padding: 20px;
    font-weight: bold;
    color: white;
    width: 600px;
    border-radius: 20px;
    border: none;
}