* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
    transition: all 1s ease-out;
}

.darkMode{
    background-color: black;
    color: #ffff;

}

/* NavBar */

.navbar {
    background-color: #9381ff;
    width: 100vw;
    box-shadow: 0px -10px 113px 0px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -10px 113px 0px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -10px 113px 0px rgba(0, 0, 0, 0.76);
}


.firstUl {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin: 0 15px;
}

.secondUl {
    display: flex;
    align-items: center;
}

.divContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.icons {
    color: #9381ff;
    cursor: pointer;
    margin: 0 12px;
}


.btnCategories {
    background-color: white;
    padding: 18px 20px;
    border-bottom: 1px solid #ffff;
    color: #9381ff;
    display: flex;
}

.btnCategories:hover {
    background-color: #9381ff;
    color: white;
    transition: all 0.3s;
}

.btn {
    border: none;
}

.btn1 {
    margin-top: 14px;
}


.dropdown-menu {
    display: flex;
    flex-direction: column;
    display: none;
}


.btnSections {
    background-color: white;
    padding: 10px 12px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}


/* Home */

.card {
    margin: 10px auto;
    margin-top: 5em;
    padding: 20px;
    border: none;
    background: #9381ff;
    border-radius: 20px;
    box-shadow: 21px 21px 33px #b3b3b3,
        -21px -21px 33px #ffffff;
}

img{
    border-radius: 10px;
}

.btnVerProducto {
    border: none;
    background-color: #b8b8ff;
    padding: 10px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}

.btnVerProducto:hover {
    background-color: white;
    color: #9381ff;
    transition: all 0.3s;
}

.card-body {
    text-align: center;
    color: #ffff;
}


.cardName {
    text-align: start;
    font-weight: lighter;
    color: black;
}

.Row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

/* Form */

.btnBuscar {
    background-color: #ffff;
    padding: 10px 12px;
    color: #9381ff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.form-control:focus {
    box-shadow: none;
}

/* Footer */

footer {
    margin-top: 3em;
    box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -4px 181px -28px rgba(0, 0, 0, 0.76);
    background-color: #9381ff;
}
