.divGeneral1 {
    background-color: aquamarine;
    color: black;
}

.dropdown-item:hover{
    background-color: #ffce67;
    color: black;
}

.cards-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    
}

.card{
    margin: 5px;
}